.DS_Store
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
xcuserdata 
/.build

Pods/
Podfile.lock

*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate

/*.jazzy.yaml
/*.jazzy.json
*.xctestrun
*.xcresult

